--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
pydantic
selenium
transformers
torch
spacy
prophet
numpy
pandas
requests
groq
opencv-python-headless
pillow
python-dotenv